body {
    display: flex;
    flex-direction: column;
    min-width: 375px;
}

header {
    flex: 0 80px;
}

footer {
    flex: 0 30px;
    background: white;
}

nav {
    background-color: #1D658D;
}

menu {
    flex: 1;
    display: flex;
    flex-direction: row !important;
    list-style: none;;
}

.navbar-brand {
    padding-left: 0.3em;
    font-size: 40px !important;
}

menu .nav-item {
    padding: 0 0.5em;
}

menu .login {
    float: right;
}

footer a {
    float: right;
}

main {
    justify-content: center;
}

.table {
    width: 500px;
}

.table-container {
    flex: 1 calc(100vh - 10px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 300px;
}

img {
    object-fit: cover;
    width: 230px;
    height: 230px;
  }

.card-header button {
    float:right;
}

.margin-left {
    margin-left: 10px !important;
}

.welcome {
    flex: 1 calc(100vh - 10px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
} 

.recipe-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(13rem, 0.5fr));
    grid-auto-rows: repeat(auto-fill);
    grid-gap: 1em;
    padding: 1rem;
    justify-content: center;
}

.search {
    padding-top: 3rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
}

.card-header button {
    display: inline-block;
}

.card-header h3 {
    display: inline-block;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 0.5fr));
    grid-auto-rows: repeat(auto-fill);
    grid-gap: 1em;
    padding: 1rem;
    justify-content: center;
}

h2 {
    padding-top: 1rem;
}

@media (max-height: 600px) {
    header {
        display: none;
    }
    footer {
        display: none;
    }
    main {
        flex: 1 100vh;
    }
}