body {
    display: flex;
    flex-direction: column;
    min-width: 375px;
}

header {
    flex: 0 80px;
}

footer {
    flex: 0 30px;
    background-color: white;
}

nav {
    background-color: #1D658D;
}


menu {
    flex: 1;
    display: flex;
    flex-direction: row !important;
    list-style: none;;
}

.navbar-brand {
    padding-left: 0.3em;
    font-size: 40px !important;
    font-family: 'Kaushan Script';
}

menu .nav-item {
    padding: 0 0.5em;
}

menu .login {
    float: right;
}

footer a {
    float: right;
}

main {
    justify-content: center;
}

img {
    object-fit: cover;
    width: 230px;
    height: 230px;
  }

.margin-left {
    margin-left: 10px !important;
}

.welcome {
    flex: 1 calc(100vh - 10px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
} 

.about-container {
    flex: 1 calc(100vh - 10px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
} 

.recipe-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(13rem, 0.5fr));
    grid-auto-rows: repeat(auto-fill);
    grid-gap: 1em;
    padding: 1rem;
    justify-content: center;
}

/* Search bar CSS */
.search {
    padding-top: 2rem;
    padding-left: 1rem;
    max-width: 465px;
}

#searchbar{
    padding: 10px;
	border-radius: 4px;
    min-width: 400px;
    max-height: 2.5rem;
}

/* Add page css */
button.add {
    float: right;
    margin-top: 1rem
}

.add-header {
    display: inline-block;
    padding: 1rem !important;
}

.recipe-body {
    padding-bottom: 0% !important;
}

.recipe-name-container {
    padding-top: 2rem !important;
}

#name-input {
    min-height: 50px;
    border-radius: 4px;
    font-size: 26px;
}

#ingredients-input {
    min-height: 200px;
}

#directions-input {
    min-height: 200px;
}

#add-button {
    display: inline-block;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 0.5fr));
    grid-auto-rows: repeat(auto-fill);
    grid-gap: 1em;
    justify-content: center;
    padding-top: 2rem;
}

h2 {
    padding-top: 1rem;
}

button .left-button {
    float: inline-end;
}

@media (max-height: 600px) {
    header {
        display: none;
    }
    footer {
        display: none;
    }
    main {
        flex: 1 100vh;
    }
}